html,
body {
  position: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  text-transform: uppercase;
  font-family: futura;
  color: white;
}

.qs_main {
  font-family: futura;
  font-size: 15px;
  font-weight: 800;
  opacity: 0.8;
}

h1 {
  position: fixed;
  opacity: 0.5;
  bottom: 10vh;
  right: 10vw;
  font-size: 30px;
  font-weight: bold;
}


p {
  position: fixed;
  opacity: 0.5;
  left: 10vw;
  right: 20vw;
  text-align: left;
  /* text-align: justify; */
  font-size: 16px;
  font-weight: lighter;
  border: 1px solid none;
  padding: 40vh 0;
  margin: auto;
  vertical-align: baseline;
}

canvas {
  display: block;
}

/* GUI SLIDER */

a {
  color: white;
  text-decoration: none;
  position: fixed;
  font-size: 20px;
  opacity: 0.5;
}

.button-back {
  top: calc(50vh - 10px);
  left: 10vw;
}

.button-forth {
  top: calc(50vh - 10px);
  right: 10vw;
}

.button-homepage {
  top: 10vh;
  right: 10vw;
  font-size: 35px;
}

a:hover {
  color: white;
  cursor: pointer;
  animation: ani 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1;
  opacity: 1;
  transform: scale(2);
  /* transition: opacity 2s;
  transition: transform 2s; */
  transition: all 0.5s ease-in-out;
}