html,
body {
  position: fixed;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Helvetica, sans-serif;
  color: black;
}

/* INTRODUCTION TEXT MAIN MENU */
p {
  position: fixed;
  color: white;
  margin: auto;
  opacity: 0.9;
}

.typo1 {
  position: fixed;
  line-height: 1.2;
  top: 61px;
  left: 60px;
  font-weight: normal;
  font-size: 40px;
  font-style: normal;
  text-transform: uppercase;
}

.typo2 {
  position: fixed;
  line-height: 1.4;
  width: 320px;
  height: 160px;
  left: calc(50vw - 160px);
  top: calc(50vh - 80px);
  font-weight: lighter;
  font-size: 16px;
  font-style: italic;
  text-transform: lowercase;
  text-align: left;
}

.typo3 {
  position: fixed;
  line-height: 1.2;
  top: 67px;
  right: 220px;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
  text-align: right;
  text-transform: lowercase;
}


/* BUTTONS */
a {
  color: white;
  position: fixed;
  text-decoration: none;
  position: fixed;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  font-weight: normal;
}


.button-homepage {
  top: 60px;
  left: 50px;
  font-size: 45px;
  font-weight: 500;
}

/* 3 BUTTONS DISTANCE */

.button-forth {
  top: 60px;
  right: 50px;
  font-size: 35px;
}

/* BUTTON ROMAN NUMBER OF THE ACTUAL PROJECT */
a.project-number {
  top: 60px;
  right: 110px;
  font-size: 40px;
  font-weight: 500;
  pointer-events: none;
  cursor: default;
  opacity: 0.95;
}

.button-back {
  top: 60px;
  right: 170px;
  font-size: 35px;
}


a:hover {
  color: white;
  cursor: pointer;
  animation: ani 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1;
  opacity: 0.95;
  transform: scale(1.3);
  transition: all 0.4s ease-in-out;
}

canvas {
  display: block;
}